:root {
  --font-FILL: 0; /* 0 | 1 */
  --font-wght: 300; /* 100-700 */
  --font-GRAD: 0; /* -25 for light on dark */
  --font-opsz: 24; /* 20 | 24 | 40 | 48 */
}

* {
  transition: none !important;
}

body {
  cursor: default;
}

[x-cloak] {
  display: none !important;
}

a {
  text-decoration: none !important;
}

button {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.125rem;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  src: url(icons.woff2) format("woff2");
}

.icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    "FILL" var(--font-FILL),
    "wght" var(--font-wght),
    "GRAD" var(--font-GRAD),
    "opsz" var(--font-opsz);
}
